.wsu-person * {
	margin: 0;
}

.wsu-person .card {
	display: flex;
	flex-wrap: wrap;
}

.wsu-person header {
	width: 100%;
	margin-bottom: 1rem;
}

.wsu-person .name,
.wsu-person .degree {
	display: inline-block;
}

.wsu-person .name {
	padding: 0 .5rem 0 0;
}

.wsu-person .degree:after {
	content: ",";
}

.wsu-person .degree:last-of-type:after {
	content: none;
}

.wsu-person .photo {
	display: block;
	width: 198px;
}

.wsu-person .photo img {
	display: block;
	max-width: 100%;
	width: 100%;
}

.wsu-person .photo + .contact {
	margin-left: 1.5rem;
}

.wsu-person .contact span {
	display: block;
}

.wsu-person .about {
	margin-top: 1rem;
}
